* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #1f2d2a;
    line-height: 1.7;
    background: linear-gradient(135deg, #f8faf9 0%, #eef3f1 50%, #e8efec 100%);
    margin: 0;
    -webkit-font-smoothing: antialiased;
}



.quienes-somos {
    padding: 80px 10%;
}

.contenedor {
    display: flex;
    gap: 60px;
    align-items: flex-start;
}

/* TEXTO */

.texto {
    flex: 1.2;
}
h1 {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.1;
}


.texto h1 {
    font-size: 60px;
    color: #36654d;
    margin-bottom: 25px;
}
 
p {
    max-width: 650px;
}

.texto p {
    margin-bottom: 18px;
    font-size: 20px;
}

.bloques {
    margin-top: 34px;
   
}

.card {
    background: #ffffff;
    padding: 40px;
    border-radius: 18px;
    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.05),
        0 4px 10px rgba(0, 0, 0, 0.03);
    transition: all 0.3s ease;
}
.card:hover {
    transform: translateY(-6px);
    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.08),
        0 8px 20px rgba(0, 0, 0, 0.05);
}






.card h2 {
    margin-bottom: 20px;
    color: #1f6f5b;
}

.valores-lista {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    gap: 15px 40px;
    padding-left: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.valores-lista li {
    font-size: 20px;
}

/* 📱 Responsive */
@media (max-width: 768px) {
    .valores-lista {
        grid-template-columns: 1fr; /* 1 columna en móvil */
    }
}


/* IMÁGENES */

.imagenes {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.imagenes img {
    width: 100%;
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* RESPONSIVE */

@media (max-width: 992px) {

    .contenedor {
        flex-direction: column;
    }

    .texto h1 {
        font-size: 32px;
        text-align: center;
    }

    .texto {
        text-align: center;
    }

    .imagenes {
        margin-top: 40px;
    }
}
